<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/doc.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai-sublime.min.css">

    <script src="https://kit.fontawesome.com/30d67fbb5a.js" crossorigin="anonymous"></script>

    <title>Grid</title>

</head>

<body>
    <header class="header-container">
        <h1>Agnee UI🔥</h1>

        <a href="https://github.com/SomeEarth86/AgneeUI">
            <i class="fab fa-github"></i>
        </a>
    </header>

    <div class="text-container">
        <aside class="sidebar">
            <div class="sidebar_heading">
                Get started
            </div>

            <ul>
                <li class="sidebar_links"><a href="">Introduction</a></li>
            </ul>

            <hr>

            <div class="sidebar_heading">Components</div>
            <ul>
                <li class="sidebar_links"><a href="./Components/avatar/avatar.html" >Avatar</a></li>
                <li class="sidebar_links"><a href="./Components/alert/alert.html" >Alert</a></li>
                <li class="sidebar_links"><a href="./Components/Badge/badge.html">Badge</a></li>
                <li class="sidebar_links"><a href="./Components/button/button.html">Button</a></li>
                <li class="sidebar_links"><a href="./Components/card/card.html">Card</a></li>
                <li class="sidebar_links"><a href="./Components/card/card.html">Image</a></li>
                <li class="sidebar_links"><a href="./Components/input/input.html">Input</a></li>
                <li class="sidebar_links"><a href="./Components/toast/toast.html">Toast</a></li>
                <li class="sidebar_links"><a href="./Components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar_links"><a href="./Components/list/list.html">List</a></li>
                <li class="sidebar_links"><a href="./Components/grid/grid.html">Grid</a></li>
            </ul>
        </aside>

        <main>
            <div class="title">Grid</div>
            <div class="text-details">
                The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.
            </div>

            <hr class="dashed">

            <div class="title">Two Column grid</div>

            <div class="display-div">
                
                <div class="grid grid-two">
                    <div class="grid-brick">Grid one</div>
                    <div class="grid-brick">Grid two</div>
                </div>
                
            </div>

            <div class="code-snippet-display">
                <pre>
                    <code>
&lt;div class="grid grid-two"&gt;
    &lt;div class="grid-brick"&gt;Grid one&lt;/div&gt;
    &lt;div class="grid-brick"&gt;Grid two&lt;/div&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </div>

            <hr class="dashed">

            <div class="title">Three Column grid</div>

            <div class="display-div">
                
                <div class="grid grid-three">
                    <div class="grid-brick">Grid one</div>
                    <div class="grid-brick">Grid two</div>
                    <div class="grid-brick">Grid Three</div>
                </div>
                
            </div>

            <div class="code-snippet-display">
                <pre>
                    <code>
&lt;div class="grid grid-two"&gt;
    &lt;div class="grid-brick"&gt;Grid one&lt;/div&gt;
    &lt;div class="grid-brick"&gt;Grid two&lt;/div&gt;
    &lt;div class="grid-brick"&gt;Grid Three&lt;/div&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </div>

        </main>

    </div>



    <footer class="footer-container">
        <div class="links-section">
            <a href="index.html">
                <i class="fas fa-fire"></i>
            </a>

            <a href="https://twitter.com/SomeEarthSays">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fas fa-book"></i>
            </a>
        </div>


    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

</body>

</html>