@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Roboto:wght@300&display=swap');

@import url(../css/components.css);
@import url(../css/navbar.css);
@import url(../css/sidebar.css);


:root{
    --primary-color:#9E2A2B ; 
    --header-color:#540B0E;
    --hover-bgColor: #FFF3B0;
    --lightish-yellow:#FDEFDC;
}

html{
    height: 100%;
}

body{
    margin: auto;
    width: 70%;
    font-family: Lora;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* Main Body */

.text-container{
    width:100%;
    display: flex;
}

.title{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
}

.text-details{
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.highlighted{
    color: var(--primary-color);
    font-weight: 700;
}


.dashed{
    margin: 2rem 0;
    border-style:inset;
}

.display-div{
    border: 2px inset ;
    background-color: #f1f1f1;
    min-height: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center{
    text-align: center;

}

/* Footer */

.footer-container{
    margin-top: auto;
    padding: 3rem;  

}

.links-section{
    display: flex;
    justify-content: center;
}


.fa-fire, .fa-book , .fa-twitter {
    color:  var(--primary-color);
    margin: auto 2rem;
    font-size: 2rem;
}

.footer-text{
    color: white;
}