<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/doc.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai-sublime.min.css">

    <title>Avatar</title>

</head>

<body>
    <header class="header-container">
        <h1>Agnee UI 🔥</h1>

        <a href="https://github.com/SomeEarth86/AgneeUI">
            <i class="fab fa-github"></i>
        </a>
    </header>

    <div class="text-container">
        <aside class="sidebar">
            <div class="sidebar_heading">
                Get started
            </div>

            <ul>
                <li class="sidebar_links"><a href="/doc.html">Introduction</a></li>
            </ul>

            <hr>

            <div class="sidebar_heading">Components</div>
            <ul>
                <li class="sidebar_links"><a href="../avatar/avatar.html" >Avatar</a></li>
                <li class="sidebar_links"><a href="../alert/alert.html" >Alert</a></li>
                <li class="sidebar_links"><a href="../Badge/badge.html">Badge</a></li>
                <li class="sidebar_links"><a href="../button/button.html">Button</a></li>
                <li class="sidebar_links"><a href="../card/card.html">Card</a></li>
                <li class="sidebar_links"><a href="../card/image.html">Image</a></li>
                <li class="sidebar_links"><a href="../input/input.html">Input</a></li>
                <li class="sidebar_links"><a href="../toast/toast.html">Toast</a></li>
                <li class="sidebar_links"><a href="../navigation/navigation.html">Navigation</a></li>
                <li class="sidebar_links"><a href="../list/list.html">List</a></li>
                <li class="sidebar_links"><a href="../grid/grid.html">Grid</a></li>
            </ul>
        </aside>

        <main>
            <div class="title">Avatar</div>
            <div class="text-details">
                Avatar are profile picture use to display ourselves on various social media. 
            </div>
            
            <hr class="dashed">

            <div class="title">Profile Avatar</div>
            <div class="text-details">
                Profile Avatar can be applied to your project using the class <span class="highlighted">'avatar'</span> inside the image tag.
            </div>
            
            <div class="display-div">
                <img src="https://rb.gy/mfpksz" alt="avatar" class="avatar">
                <img src="https://rb.gy/quesxa" alt="avatar" class="avatar">
                <img src="https://rb.gy/0v802a" alt="avatar" class="avatar">
            </div>

            <div class="code-snippet-display center">
                <pre>
                    <code>
&lt;img class="avatar" src="https://rb.gy/mfpksz" alt="avatar-image" &gt;
&lt;img class="avatar" src="https://rb.gy/quesxa" alt="avatar-image" &gt;
&lt;img class="avatar" src="https://rb.gy/0v802a" alt="avatar-image" &gt;
                    </code>
                </pre>
            </div>
                
            <hr class="dashed">

            <div class="title">Size Avatar</div>
            <div class="text-details">
                Size avatar basically refers to the various size that user wish to implement image according to their usage. We support 3 different sized namely small, medium and large using classes <span class="highlighted">'sm | md | lg'</span> respectively.
            </div>

            <div class="code-snippet-display center">
                <pre>
                    <code>
&lt;img class="avatar lg" src="https://rb.gy/mfpksz" alt="avatar" /&gt;
&lt;img class="avatar md" src="https://rb.gy/mfpksz" alt="avatar" /&gt;
&lt;img class="avatar sm" src="https://rb.gy/mfpksz" alt="avatar" /&gt;
                    </code>
                </pre>
            </div>
            
            <div class="display-div">
                <img src="https://rb.gy/mfpksz" alt="avatar" class="avatar sm">
                <img src="https://rb.gy/mfpksz" alt="avatar" class="avatar md">
                <img src="https://rb.gy/mfpksz" alt="avatar" class="avatar lg">
            </div>

            <hr class="dashed">

        </main>

    </div>

   

    <footer class="footer-container">
        <div class="links-section">
            <a href="index.html">
                <i class="fas fa-fire"></i>
            </a>

            <a href="https://twitter.com/SomeEarthSays">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fas fa-book"></i>
            </a>
        </div>

        
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://kit.fontawesome.com/30d67fbb5a.js" crossorigin="anonymous"></script>

</body>

</html>