<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/doc.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai-sublime.min.css">

    <script src="https://kit.fontawesome.com/30d67fbb5a.js" crossorigin="anonymous"></script>

    <title>Toast</title>

</head>

<body>
    <header class="header-container">
        <h1>Agnee UI🔥</h1>

        <a href="https://github.com/SomeEarth86/AgneeUI">
            <i class="fab fa-github"></i>
        </a>
    </header>

    <div class="text-container">
        <aside class="sidebar">
            <div class="sidebar_heading">
                Get started
            </div>

            <ul>
                <li class="sidebar_links"><a href="">Introduction</a></li>
            </ul>

            <hr>

            <div class="sidebar_heading">Components</div>
            <ul>
                <li class="sidebar_links"><a href="avatar.html" class="">Avatar</a></li>
                <li class="sidebar_links"><a href="alert.html"  >Alert</a></li>
                <li class="sidebar_links"><a href="badge.html">Badge</a></li>
                <li class="sidebar_links"><a href="">Button</a></li>
                <li class="sidebar_links"><a href="">Card</a></li>
                <li class="sidebar_links"><a href="">Image</a></li>
                <li class="sidebar_links"><a href="">Input</a></li>
                <li class="sidebar_links"><a class="highlighted" href="">Toast</a></li>
                <li class="sidebar_links"><a href="">Navigation</a></li>
                <li class="sidebar_links"><a href="">List</a></li>
                <li class="sidebar_links"><a href="">Grid</a></li>
                
            </ul>
        </aside>

        <main>
            <div class="title">Toast</div>
            <div class="text-details">
                Toast usually displays the information (usually notification). It stays on the screen for 2-3 seconds. The main diffrence between normal msg and toast is that it did not create any change in interaction between user and application.
            </div>

            <hr class="dashed">

            <div class="title"></div>
            <div class="text-details">
                Simple alert can be generally be of four types with their respective icon and accent color. 
            </div>

            <div class="display-div">

                <div class="alert-box">

                    <div class="alert alert-success">
                        <span><img src="https://img.icons8.com/fluency/48/000000/checked-2.png" /></span>
                        This is sample toast message text.
                    </div>

                    <div class="alert alert-info">
                        <span><img src="https://img.icons8.com/material-outlined/48/000000/info.png"/></span>
                        This is sample toast message text.
                    </div>

                <div class="alert alert-warning">
                    <span><img src="https://img.icons8.com/fluency/48/000000/general-warning-sign.png"/></span>
                    This is sample toast message text.
                </div>

                <div class="alert alert-error">
                    <span><img src="https://img.icons8.com/material-rounded/48/000000/box-important--v1.png"/></span>
                    This is sample toast message text.
                </div>

                </div>
                
            </div>

            <div class="code-snippet-display">
                <pre>
                    <code>

&lt;div class="alert-box"&gt;

&lt;div class="alert alert-success"&gt;
    &lt;span&gt;&lt;img src="https://img.icons8.com/fluency/48/000000/checked-2.png" /&gt;&lt;/span&gt;
    This is sample toast message text.
&lt;/div&gt;
        
        
&lt;div class="alert alert-info"&gt;
    &lt;span&gt;&lt;img src="https://img.icons8.com/material-outlined/48/000000/info.png"/&gt;&lt;/span&gt;
    This is sample toast message text.
&lt;/div&gt;
        
        
&lt;div class="alert alert-warning"&gt;
    &lt;span&gt;&lt;img src="https://img.icons8.com/fluency/48/000000/general-warning-sign.png"/&gt;&lt;/span&gt;
    This is sample toast message text.
&lt;/div&gt;
        

&lt;div class="alert alert-error"&gt;
    &lt;span&gt;&lt;img src="https://img.icons8.com/material-rounded/48/000000/box-important--v1.png"/&gt;&lt;/span&gt;
    This is sample toast message text.
        
                    </code>
                </pre>
            </div>

            <hr class="dashed">

        </main>

    </div>



    <footer class="footer-container">
        <div class="links-section">
            <a href="index.html">
                <i class="fas fa-fire"></i>
            </a>

            <a href="https://twitter.com/SomeEarthSays">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fas fa-book"></i>
            </a>
        </div>


    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

</body>

</html>