<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/doc.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai-sublime.min.css">

    <script src="https://kit.fontawesome.com/30d67fbb5a.js" crossorigin="anonymous"></script>

    <title>List</title>

</head>

<body>
    <header class="header-container">
        <h1>Agnee UI🔥</h1>

        <a href="https://github.com/SomeEarth86/AgneeUI">
            <i class="fab fa-github"></i>
        </a>
    </header>

    <div class="text-container">
        <aside class="sidebar">
            <div class="sidebar_heading">
                Get started
            </div>

            <ul>
                <li class="sidebar_links"><a href="">Introduction</a></li>
            </ul>

            <hr>

            <div class="sidebar_heading">Components</div>
            <ul>
                <li class="sidebar_links"><a href="avatar.html" class="">Avatar</a></li>
                <li class="sidebar_links"><a href="alert.html" >Alert</a></li>
                <li class="sidebar_links"><a href="badge.html">Badge</a></li>
                <li class="sidebar_links"><a href="">Button</a></li>
                <li class="sidebar_links"><a href="">Card</a></li>
                <li class="sidebar_links"><a href="">Image</a></li>
                <li class="sidebar_links"><a href="">Input</a></li>
                <li class="sidebar_links"><a href="">Text Utility</a></li>
                <li class="sidebar_links"><a href="">Toast</a></li>
                <li class="sidebar_links"><a href="">Navigation</a></li>
                <li class="sidebar_links"><a class="highlighted" href="">List</a></li>
                <li class="sidebar_links"><a href="">Grid</a></li>
            </ul>
        </aside>

        <main>
            <div class="title">List</div>
            <div class="text-details">
                List helps us visualise number of items in a concise and organized way.
            </div>

            <hr class="dashed">

            <div class="title">Simple List</div>

            <div class="display-div">

                <ul class="list">
                        <li class="list-item">One</li>
                        <li class="list-item">Two</li>
                        <li class="list-item">Three</li>
                        <li class="list-item">Four</li>
                        <li class="list-item">Five</li>
                </ul>

            </div>

            <div class="code-snippet-display">
                <pre>
                    <code>
&lt;li class="list-item"&gt;One&lt;/li&gt;

&lt;li class="list-item"&gt;Two&lt;/li&gt;
                        
&lt;li class="list-item"&gt;Three&lt;/li&gt;
                        
&lt;li class="list-item"&gt;Four&lt;/li&gt;
                        
&lt;li class="list-item"&gt;Five&lt;/li&gt;
                    </code>
                </pre>
            </div>

            <hr class="dashed">

            <div class="title">Stacked List</div>

            <div class="display-div">
                <ul class="list">
                    <li class="list-item">
                        <div class="list-head   er">
                            <h4>Heading</h4>
                            <h4>5 days ago</h4>
                        </div>

                        <p>Lorem ipsum dolor sit amet </p>
                    </li>

                    <li class="list-item">
                        <div class="list-header">
                            <h4>Heading</h4>
                            <h4>5 days ago</h4>
                        </div>

                        <p>Lorem ipsum dolor sit amet </p>
                    </li>


                </ul>
            </div>

            <div class="code-snippet-display">
                <pre>
                    <code>
&lt;li class="list-item"&gt;
    &lt;div class="list-head   er"&gt;
        &lt;h4&gt;Heading&lt;/h4&gt;
        &lt;h4&gt;5 days ago&lt;/h4&gt;
    &lt;/div&gt;

        &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, dicta. Vitae  &lt;/p&gt;
&lt;/li&gt;

&lt;li class="list-item"&gt;
    &lt;div class="list-header"&gt;
        &lt;h4&gt;Heading&lt;/h4&gt;
        &lt;h4&gt;5 days ago&lt;/h4&gt;                               
    &lt;/div&gt;

        &lt;p&gt;Lorem ipsum dolor sit amet &lt;/p&gt;
&lt;/li&gt;
                    </code>
                </pre>
            </div>

            <hr class="dashed">

        </main>

    </div>



    <footer class="footer-container">
        <div class="links-section">
            <a href="index.html">
                <i class="fas fa-fire"></i>
            </a>

            <a href="https://twitter.com/SomeEarthSays">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fas fa-book"></i>
            </a>
        </div>


    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

</body>

</html>