<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/doc.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai-sublime.min.css">

    <script src="https://kit.fontawesome.com/30d67fbb5a.js" crossorigin="anonymous"></script>

    <title>Navigation</title>

</head>

<body>
    <header class="header-container">
        <h1>Agnee UI🔥</h1>

        <a href="https://github.com/SomeEarth86/AgneeUI">
            <i class="fab fa-github"></i>
        </a>
    </header>

    <div class="text-container">
        <aside class="sidebar">
            <div class="sidebar_heading">
                Get started
            </div>

            <ul>
                <li class="sidebar_links"><a href="/doc.html">Introduction</a></li>
            </ul>

            <hr>

            <div class="sidebar_heading">Components</div>
            <ul>
                <li class="sidebar_links"><a href="../avatar/avatar.html" >Avatar</a></li>
                <li class="sidebar_links"><a href="../alert/alert.html" >Alert</a></li>
                <li class="sidebar_links"><a href="../Badge/badge.html">Badge</a></li>
                <li class="sidebar_links"><a href="../button/button.html">Button</a></li>
                <li class="sidebar_links"><a href="../card/card.html">Card</a></li>
                <li class="sidebar_links"><a href="../image/image.html">Image</a></li>
                <li class="sidebar_links"><a href="../input/input.html">Input</a></li>
                <li class="sidebar_links"><a href="../toast/toast.html">Toast</a></li>
                <li class="sidebar_links"><a href="../navigation/navigation.html">Navigation</a></li>
                <li class="sidebar_links"><a href="../list/list.html">List</a></li>
                <li class="sidebar_links"><a href="../grid/grid.html">Grid</a></li>
            </ul>
        </aside>

        <main>
            <div class="title">Navigation</div>
            <div class="text-details">
                A Navigation bar or navigation system comes under GUI that helps the visitors in accessing information. It is the UI element on a webpage that includes links for the other sections of the website.
            </div>

            <hr class="dashed">

            <div class="title">Simple Navbar</div>

            <div class="display-div">
            
                <nav class="navbar-simple">
                    <div class="nav-heading">Hero Title</div>

                    <button class="nav-icon">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                    <button class="nav-icon">
                        <ion-icon name="heart"></ion-icon>
                    </button>
                    <button class="nav-icon">
                        <ion-icon name="person"></ion-icon>
                    </button>
                </nav>
                
            </div>

            <div class="code-snippet-display">
                <pre>
                    <code>
&lt;nav class="navbar-simple"&gt;
    &lt;div class="nav-heading"&gt;Hero Title&lt;/div&gt;

    &lt;button class="nav-icon"&gt;
        &lt;ion-icon name="cart"&gt;&lt;/ion-icon&gt;
    &lt;/button&gt;
    &lt;button class="nav-icon"&gt;
        &lt;ion-icon name="heart"&gt;&lt;/ion-icon&gt;
    &lt;/button&gt;
    &lt;button class="nav-icon"&gt;
        &lt;ion-icon name="person"&gt;&lt;/ion-icon&gt;
    &lt;/button&gt;
&lt;/nav&gt;
                    </code>
                </pre>
            </div>

            <hr class="dashed">

        </main>

    </div>



    <footer class="footer-container">
        <div class="links-section">
            <a href="index.html">
                <i class="fas fa-fire"></i>
            </a>

            <a href="https://twitter.com/SomeEarthSays">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="/doc.html">
                <i class="fas fa-book"></i>
            </a>
        </div>


    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>