.badge {
    position: relative;
}

.badge-display {
    border: 2px solid white;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 4rem;
    top: 4rem;
}

.online{
    background-color: lightgreen;
}

.idle{
    background-color: gray;
}

.dnd{
    background-color: red;
}

.badge{
    position:relative;
  }
  
  .badge-details{
    position:absolute;
    color:white;
    background-color:red;
    font-size:1.3rem;
    top:0.1rem;
    left:3.5rem;
    height:1.25rem;
    width:1.25rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid red;
    border-radius:50%;
    padding:0.4rem;
  }