:root {
    --success-color: #bced72;
    --info-blue: #a5f3fc;
    --warning-yellow: #fef3c7;
    --error-red: #f87171;
}

.alert-box{
    display: flex;
    flex-direction: column;
}

.alert {
    width: 25rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.alert-success {
    background-color: var(--success-color);
}

.alert-info{

    background-color: var(--info-blue);
}

.alert-warning{
    background-color: var(--warning-yellow);
}

.alert-error{
    background-color: var(--error-red);
}